ion-card {
    z-index: 1;
    margin: 25px !important;
}    
.add-bank-control{
    margin: 0 25px;
    --background: #a758ff96;
    border-radius: 25px;
}

.close-btn{
    box-shadow: none;
    height: 40px;
    width: 40px;
    --box-shadow: 0;
}
.close-btn ion-icon{
    margin-right: 0;
    font-size: 20px;
}