.brand-sec {
    text-align: center;
    margin-top: 103pt;
}
.brand-sec {
       margin-top: 70pt;
           margin-top: 70pt;
}
span.coins-spl img {
    width: 100%;
}
span.coins-spl {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.brand-sec {
    text-align: center;
    margin-top: 103pt;
}

.brand-sec h1 span {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.brand-sec h1 {
    color: #a657ff;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    overflow: auto;
}
.brand-sec {
    text-align: center;
    margin-top: 103pt;
}
.phon-fld {
    position: relative;
}
span.code-patch {
    position: absolute;
    top: 8px;
    color: #fff;
    background: #ffffff4f;
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 7px;
}

.wht-btn {
    --background: #fff !important;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 56px;
    --color: #a657ff !important;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.46px;
    margin-top: 30px;
    box-shadow: 1px 2px 26px #fff;
    position: relative;
    --box-shadow: 0 0px -1px 0px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);    
}

ion-item{
    --background:transparent;
}
.ad-ph {
    background: #a657ff;
    padding: 41px;
    border-radius: 55px 55px 0 0px;
    width: -webkit-fill-available;
    margin-top: 25px;
}
.ad-ph p {
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    line-height: 16px;
}

a.wht-btn {
    background: #fff;
    display: block;
    padding: 17px 24px;
    text-align: center;
    text-decoration: none;
    border-radius: 56px;
    color: #a657ff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.46px;
    margin-top: 30px;
    box-shadow: 1px 2px 26px #fff;
    padding-right: 45px;
    position: relative;
}
img.btn-arw {
    position: absolute;
    z-index: 10;
    width: 83px;
    right: -14px;
}

.brand-sec img {
    width: 65px;
    margin-bottom: 48px;
}

.stick-bottom{
    position: absolute;
    bottom: 0;
    width:100%;
}

