.saving-detail-stats{
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
}

.saving-detail-stats img{
    width: 20px;
    margin-right: 10px;
}

.saving-detail-stats .current-deposit,
.saving-detail-stats .target-amount{
    margin:0;
}

.grey-bg-arc{
    border-radius: 0 0 30px 30px;
}
.grey-bg-arc-reverse{
    border-radius: 30px 30px 0 0;
}

.pink-bg-circle {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: #f5dce4;
    border-radius: 50%;
    padding-top: 8px;
}