<ion-header>
  <ion-toolbar class="purple-bg-color in-toolbar">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Complete KYC</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="purple-bg-color">
  <div *ngIf="KYCDetailData.kycStatus != undefined && !KYCDetailData.kycStatus">
    <div class="ion-padding">
      <ion-text class="small-label">As per RBI (Reserve Bank of India) guidelines you must complete your KYC with aadhaar verification.</ion-text>
    </div>
    <form [formGroup]="kycDetailForm" (ngSubmit)='onSubmit($event)'>
      <ion-card class="big-round">           
        <ion-card-content>       
          <ion-list lines='full' class="ion-padding">
            <ion-title class="ion-no-padding ion-text-center fw-600" color="dark">Complete your KYC</ion-title>
            <div *ngIf=" KYCDetailData.step == 1">
              <!-- <ion-item class="ion-no-margin ion-no-padding">
                <ion-label class="fw-500" position='stacked'> Aadhaar number</ion-label>
                <ion-input class="mid-size-text" placeholder='1234 5678 1234' formControlName='adhaar_no' id="adhaar_no" (ionInput)="onInputAdhaar($event)" type='tel'></ion-input>
              </ion-item> -->
              <ion-item class="ion-no-margin ion-no-padding">
                <ion-label  class="fw-500" position='stacked'>Phone registered with Aadhaar</ion-label>
                <ion-input class="mid-size-text" placeholder='01234 56789' id='phone' formControlName='phone' type='tel'  (ionInput)="onInputPhone($event)" ></ion-input>
              </ion-item> 
            </div>
            <div *ngIf=" KYCDetailData.step == 2">
              <ion-text>You will be redirected to the UIDAI website.</ion-text>
              <div>&nbsp;</div>
              <h2><ion-text>You will proceed as follows.</ion-text></h2>
              <ion-item class="small ion-no-padding" lines='none'> 
                <ion-icon name="arrow-dropright"></ion-icon>
                <ion-text color="medium">Enter your aadhaar number (12 Digit UID).</ion-text>
              </ion-item>
              <ion-item class="small ion-no-padding" lines='none'> 
                <ion-icon name="arrow-dropright"></ion-icon>
                <ion-text color="medium">Enter Security code.</ion-text>
              </ion-item>
              <ion-item class="small ion-no-padding" lines='none'>
                <ion-icon name="arrow-dropright"></ion-icon>
                <ion-text color="medium">click on SEND OTP</ion-text>
              </ion-item>                
              <h2><ion-text> You will redirect to new screen</ion-text></h2>
              <ion-item class="small ion-no-padding" lines='none'> 
                <ion-icon name="arrow-dropright"></ion-icon>
                <ion-text color="medium">Enter OTP</ion-text>
              </ion-item>   
              <ion-item class="small ion-no-padding" lines='none'>
                <ion-icon name="arrow-dropright"></ion-icon>
                <ion-text color="medium">Use {{ f.share_code.value }} as share code </ion-text>
              </ion-item>
              <ion-item  class="small ion-no-padding" lines='none'>
                <ion-icon name='arrow-dropright'></ion-icon>
                <ion-text color="medium">Click Download</ion-text>
              </ion-item>
              <ion-item  class="small ion-no-padding" lines='none'>
                <ion-icon name='arrow-dropright'></ion-icon>
                <ion-text color="medium">Return to this app and choose Downloaded zip file and continue</ion-text>
              </ion-item>
              <ion-item lines='none' class="ion-no-margin ion-no-padding">
                <ion-label>
                  <h5>
                    <div class="ion-text-center">
                      <ion-text  class="fw-500 mid-size-text" >Share code  </ion-text>
                    </div>
                  </h5>
                  <div style="margin-top: 2px;">
                    <ion-item class="ion-no-padding" lines='none'>
                      <ion-text color="primary" class="ion-text-center full-width fw-500 mid-size-text">{{ f.share_code.value }} </ion-text>
                      <ion-input hidden type='hidden'  formControlName="share_code"></ion-input>
                      <ion-icon slot="end" color="primary" (click)="generateShareCode($event)" name="refresh-circle"></ion-icon>
                    </ion-item>
                  </div>
                </ion-label>
              </ion-item>
            </div>
            <div *ngIf=" KYCDetailData.step == 3">
              <ion-item class="ion-no-margin ion-no-padding" lines='none' *ngIf="redirectToUIDAI">
                <ion-label  class="fw-500" position='stacked'> Offline Aadhaar Zip file</ion-label>
                <div class="file-input-container">
                  <div class="ion-text-center">
                    <ion-icon size='large' color="primary" name="cloud-upload"></ion-icon>
                    <h2><ion-text class="small-label" color="medium">Choose aadhaar zip file to upload</ion-text></h2>
                  </div>
                  <ion-input id="offline_kyc_file" accept="*/zip" (change)='onFileChoose($event)' type='file' formControlName='offline_kyc_file'></ion-input>
                </div>
              </ion-item>  
              <ion-item class="ion-no-padding" lines='none' *ngIf="!redirectToUIDAI" (click)="_redirectToUIDAI($event)">
                <ion-label>
                  <div class="ion-text-center">Your share code is <ion-text class='fw-500 mid-size-text' color="primary">{{ f.share_code.value }} </ion-text></div>
                  <h1 class="full-width ion-text-center"><ion-button shape='round'><ion-text>Download Aadhaar Data</ion-text></ion-button></h1>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <div class="ion-text-center" *ngIf="!kycDetailForm.submitted && KYCDetailData.step == 3">
        <ion-button color="light" type='submit' [disabled]='!kycDetailForm.valid || kycDetailForm.submitted' size="medium" shape='round' >Complete KYC</ion-button>
      </div>
      <div class="ion-text-center" *ngIf="kycDetailForm.submitted">
        <ion-spinner></ion-spinner>
      </div>
      <div class="ion-text-center" *ngIf=" KYCDetailData.step < 3">
        <ion-button size='medium' [disabled]=" !kycDetailForm.controls.phone.valid" shape='round' (click)="nextStep($event)" color="light"> Next </ion-button>
      </div>
    </form>      
  </div>
  <div class="ion-text-center" *ngIf="KYCDetailData.kycStatus == undefined ">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="KYCDetailData.kycStatus">
    <div>&nbsp;</div>        
    <div>&nbsp;</div>        
    <ion-title class="ion-text-center no-padding">Your KYC is complete <ion-icon color="light" name="checkmark-circle-outline"></ion-icon></ion-title>    
    <div>&nbsp;</div>        
    <div>&nbsp;</div>        
    <ion-card>
      <ion-card-content>
        <ion-item lines='none'>
          <ion-label class="full-width">
            <h2><ion-text> {{ KYCDetailData.adhaar_no }}</ion-text></h2>
            <h2>
              <ion-text>Name: {{ KYCDetailData.name }}</ion-text>          
            </h2>
          </ion-label>
        </ion-item>
        <ion-row>
          <ion-col size='3'>
            <ion-avatar>
              <img [attr.src]='KYCDetailData.adhaar_image' />
            </ion-avatar>
          </ion-col>          
          <ion-col size='9'>
            <h3>{{ KYCDetailData.address }}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-col>
              <ion-text>Gender: {{ KYCDetailData.gender }}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>DOB: {{ KYCDetailData.dob }}</ion-text>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
